.mainLog{
    display: none;
    position: relative;
    top: 0;
    width: 50%;
    text-align: center;
    display: none;
    left:50%;
    /*background: #45484d; *//* Old browsers */
    /*background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); *//* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); *//* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); *//* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); *//* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); *//* IE10+ */
    /*background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); *//* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); *//* IE6-9 */
    margin-left: -25%;
    padding-bottom: 1em;
    border: 1px solid #ccc;
    z-index: 9999;
}
.mainLog h3, h4, span{
    margin:0;
    padding: 0;
}
.mainLog h4{
    margin-top: 0.5em;
}
.mainLog span{
    font-size: 11px;
    font-weight: lighter;
}

._600{ /*emergency*/
    background-color: rgba(255, 63, 0, 0.2);
    color: #FF3F00;
}

._550{ /*alert*/
    background-color: rgba(255, 126, 0, 0.2);
    color: #FF3F00;
}

._500{ /*critical*/
    background-color: rgba(255, 189, 0, 0.2);
    color: #FF3F00;
}

._400{ /*error*/
    background-color: rgba(255, 255, 0, 0.2);
    color: #AE2C00;
}
._300{ /*warning*/
    background-color: rgba(192, 255, 0, 0.2);
    color: #AE2C00;
}
._250{ /*notice*/
    background-color: rgba(66, 255, 0, 0.2);
    color: #42FF00;
}
._200{ /*info*/
    background-color: rgba(66, 255, 0, 0.2);
    color: #42FF00;
}
._100{ /*notice*/
    background-color: rgba(66, 255, 0, 0.2);
    color: #42FF00;
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid red;
    position: relative;
    left: 95%;
}
.wrapper{
    position: relative;
    top: 0;
    width: 50%;
    text-align: center;
    left:50%;
    margin-left: -25%;
    padding-bottom: 1em;
    z-index: 9999;
}
.arrow-down {
    cursor: pointer;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f00;
    position: relative;
    left: 95%;
    top:1%;
}